header {
   width: 330px;
   height: 310px;
   background-color: rgb(95, 95, 171);
   background-image: url(../img/logo.svg);
   background-repeat: no-repeat;
   background-size: 80%;
   background-position: top;
}

header p {
    position: absolute;
    top: 80px;
    left: 40px;
    
    color: rgb(239, 239, 239);
}
#freccia {
    position: absolute;
    top: 130px;
    left: 97px;
}
    

